name: Code Quality Dynamic Code Analysis Valgrind

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: apt install dependency
      run: |
        sudo apt-get -y install Valgrind
        sudo apt-get -y install libcunit1 libcunit1-doc libcunit1-dev 
    - name: make test
      run:   make  Miniproject_C/3_Implementation
    - name: Valgrind
      run:  valgrind ./MiniProject_C/3_Implementation
